In [75]:
import pandas as pd
import numpy as np

In [76]:
udaje_atleti = pd.read_csv('athlete_events.csv')
regiony = pd.read_csv('noc_regions.csv')

In [77]:
data = pd.merge(udaje_atleti, regiony, on='NOC', how='left')

In [78]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992.0,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012.0,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920.0,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900.0,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988.0,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

Potrebujeme vymazat riadky s hodnotami null v stlpcoch "age", "height", "weight", "region".

In [79]:
data = data.dropna(axis=0, subset=['Age', 'Height', 'Weight', 'region'])

Rovnako vymazeme stlpec notes, ktory je pre nepotrebny. 
Nakoniec nahradime null hodnoty v stlpci "Medals" na hodnotu "None"

In [80]:
data = data.drop(['notes', 'ID', 'Name', 'Team', 'NOC', 'Games', 'Season', 'City'], axis=1)

In [81]:
data

,Sex,Age,Height,Weight,Year,Sport,Event,Medal,region
0,M,24.0,180.0,80.0,1992.0,Basketball,Basketball Men's Basketball,NaN,China
1,M,23.0,170.0,60.0,2012.0,Judo,Judo Men's Extra-Lightweight,NaN,China
4,F,21.0,185.0,82.0,1988.0,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands
5,F,21.0,185.0,82.0,1988.0,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands
6,F,25.0,185.0,82.0,1992.0,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands
7,F,25.0,185.0,82.0,1992.0,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands
8,F,27.0,185.0,82.0,1994.0,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands
9,F,27.0,185.0,82.0,1994.0,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands
10,M,31.0,188.0,75.0,1992.0,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,USA
11,M,31.0,188.0,75.0,1992.0,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,USA
12,M,31.0,188.0,75.0,1992.0,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,USA
13,M,31.0,188.0,75.0,1992.0,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,USA
14,M,33.0,188.0,75.0,1994.0,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,USA
15,M,33.0,188.0,75.0,1994.0,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,USA
16,M,33.0,188.0,75.0,1994.0,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,USA
17,M,33.0,188.0,75.0,1994.0,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,USA
18,M,31.0,183.0,72.0,1992.0,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,USA
19,M,31.0,183.0,72.0,1992.0,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,USA
20,M,31.0,183.0,72.0,1992.0,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,USA
21,M,31.0,183.0,72.0,1992.0,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,USA
22,M,33.0,183.0,72.0,1994.0,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,USA
23,M,33.0,183.0,72.0,1994.0,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,USA
24,M,33.0,183.0,72.0,1994.0,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,USA
25,M,33.0,183.0,72.0,1994.0,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,USA
28,M,26.0,186.0,96.0,2002.0,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,Finland
30,M,22.0,182.0,76.5,1980.0,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,Finland
31,M,31.0,172.0,70.0,2000.0,Badminton,Badminton Men's Singles,NaN,Finland
32,F,30.0,159.0,55.5,1996.0,Sailing,Sailing Women's Windsurfer,NaN,Finland
33,F,34.0,159.0,55.5,2000.0,Sailing,Sailing Women's Windsurfer,NaN,Finland
34,F,32.0,171.0,65.0,1994.0,Biathlon,Biathlon Women's 7.5 kilometres Sprint,NaN,Finland
...,...,...,...,...,...,...,...,...,...
165824,F,14.0,161.0,53.0,1988.0,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,NaN,China
165825,F,14.0,161.0,53.0,1988.0,Swimming,Swimming Women's 100 metres Butterfly,NaN,China
165826,F,14.0,161.0,53.0,1988.0,Swimming,Swimming Women's 200 metres Individual Medley,NaN,China
165827,F,14.0,161.0,53.0,1988.0,Swimming,Swimming Women's 400 metres Individual Medley,NaN,China
165830,M,24.0,169.0,70.0,1964.0,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,Germany
165831,M,24.0,169.0,70.0,1964.0,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Germany
165832,F,21.0,166.0,55.0,1960.0,Athletics,Athletics Women's 200 metres,NaN,Hungary
165833,F,21.0,166.0,55.0,1960.0,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,Hungary
165834,F,25.0,166.0,55.0,1964.0,Athletics,Athletics Women's 400 metres,NaN,Hungary
165835,F,25.0,166.0,55.0,1964.0,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,Hungary
165836,F,29.0,166.0,55.0,1968.0,Athletics,Athletics Women's 400 metres,NaN,Hungary
165837,M,23.0,184.0,83.0,1992.0,Athletics,Athletics Men's Decathlon,NaN,Hungary
165838,M,21.0,183.0,76.0,1972.0,Handball,Handball Men's Handball,NaN,Denmark
165839,M,25.0,183.0,76.0,1976.0,Handball,Handball Men's Handball,NaN,Denmark
165840,M,23.0,185.0,80.0,1976.0,Athletics,Athletics Men's 110 metres Hurdles,NaN,Germany
165841,M,27.0,185.0,80.0,1980.0,Athletics,Athletics Men's 110 metres Hurdles,Gold,Germany
165842,M,27.0,185.0,80.0,1980.0,Athletics,Athletics Men's 4 x 100 metres Relay,NaN,Germany
165843,F,31.0,175.0,59.0,1996.0,Athletics,Athletics Women's High Jump,NaN,Uzbekistan
165844,M,26.0,193.0,98.0,2016.0,Rowing,Rowing Men's Coxed Eights,NaN,USA
165845,M,22.0,193.0,88.0,1992.0,Rowing,Rowing Men's Coxed Eights,NaN,USA
165846,M,23.0,180.0,80.0,1972.0,Rowing,Rowing Men's Coxed Eights,NaN,Netherlands
165847,F,30.0,182.0,75.0,1976.0,Rowing,Rowing Women's Single Sculls,NaN,Netherlands
165880,M,30.0,188.0,73.0,1996.0,Athletics,Athletics Men's 4 x 400 metres Relay,NaN,Bahamas
165881,M,34.0,188.0,73.0,2000.0,Athletics,Athletics Men's 4 x 400 metres Relay,Bronze,Bahamas
165882,M,16.0,174.0,60.0,1968.0,Swimming,Swimming Men's 100 metres Breaststroke,NaN,El Salvador
165883,M,16.0,174.0,60.0,1968.0,Swimming,Swimming Men's 200 metres Breaststroke,NaN,El Salvador
165885,F,23.0,162.0,52.0,1992.0,Judo,Judo Women's Half-Lightweight,Gold,Spain
165886,F,27.0,162.0,52.0,1996.0,Judo,Judo Women's Half-Lightweight,NaN,Spain
165887,F,24.0,183.0,66.0,2004.0,Volleyball,Volleyball Women's Volleyball,Bronze,Cuba
165888,F,28.0,164.0,56.0,2016.0,Golf,Golf Women's Individual,NaN,Spain

Este si pre istotu mozeme skontrolovat ci uz sa v nasom datasete nenachadzaju ziadne null hodnoty

In [82]:
pd.isnull(data).sum()

Sex            0
Age            0
Height         0
Weight         0
Year           0
Sport          0
Event          0
Medal     107331
region         0
dtype: int64

In [108]:
data['haveMedal'] = np.where(data['Medal'].isnull(), 0, 1)

In [109]:
athletics = data.loc[data['Event'] == "Athletics Men's 100 metres"]

In [110]:
athletics

,Sex,Age,Height,Weight,Year,Sport,Event,Medal,region,haveMedal
203,M,18.0,168.0,60.0,2004.0,Athletics,Athletics Men's 100 metres,NaN,Nicaragua,0
257,M,22.0,181.0,74.0,2008.0,Athletics,Athletics Men's 100 metres,NaN,Azerbaijan,0
315,M,23.0,169.0,68.0,1972.0,Athletics,Athletics Men's 100 metres,NaN,Kuwait,0
544,M,21.0,172.0,66.0,1968.0,Athletics,Athletics Men's 100 metres,NaN,Nigeria,0
546,M,25.0,172.0,66.0,1972.0,Athletics,Athletics Men's 100 metres,NaN,Nigeria,0
907,M,22.0,179.0,72.0,1984.0,Athletics,Athletics Men's 100 metres,NaN,Costa Rica,0
909,M,23.0,173.0,65.0,1976.0,Athletics,Athletics Men's 100 metres,NaN,Panama,0
911,M,20.0,183.0,75.0,1920.0,Athletics,Athletics Men's 100 metres,NaN,UK,0
915,M,24.0,183.0,75.0,1924.0,Athletics,Athletics Men's 100 metres,Gold,UK,1
1055,M,27.0,173.0,74.0,2008.0,Athletics,Athletics Men's 100 metres,NaN,Bangladesh,0
1094,M,23.0,170.0,67.0,2016.0,Athletics,Athletics Men's 100 metres,NaN,Palestine,0
1347,M,27.0,178.0,79.0,2012.0,Athletics,Athletics Men's 100 metres,NaN,Cameroon,0
1360,M,24.0,182.0,82.0,1992.0,Athletics,Athletics Men's 100 metres,NaN,UK,0
1442,M,23.0,180.0,79.0,2012.0,Athletics,Athletics Men's 100 metres,NaN,Saint Kitts,0
1445,M,27.0,180.0,79.0,2016.0,Athletics,Athletics Men's 100 metres,NaN,Saint Kitts,0
1465,M,26.0,169.0,68.0,1980.0,Athletics,Athletics Men's 100 metres,NaN,Trinidad,0
1515,M,20.0,170.0,56.0,1928.0,Athletics,Athletics Men's 100 metres,NaN,Canada,0
1660,M,19.0,186.0,78.0,1988.0,Athletics,Athletics Men's 100 metres,NaN,Nigeria,0
1663,M,22.0,186.0,78.0,1992.0,Athletics,Athletics Men's 100 metres,NaN,Nigeria,0
1666,M,26.0,186.0,78.0,1996.0,Athletics,Athletics Men's 100 metres,NaN,Nigeria,0
1685,M,28.0,162.0,65.0,1988.0,Athletics,Athletics Men's 100 metres,NaN,Nigeria,0
1704,M,21.0,185.0,63.0,1980.0,Athletics,Athletics Men's 100 metres,NaN,Nigeria,0
1790,M,24.0,168.0,59.0,2000.0,Athletics,Athletics Men's 100 metres,NaN,Palau,0
1994,M,21.0,184.0,69.0,1988.0,Athletics,Athletics Men's 100 metres,NaN,Pakistan,0
2129,M,23.0,174.0,64.0,1988.0,Athletics,Athletics Men's 100 metres,NaN,Portugal,0
2134,M,21.0,171.0,66.0,1956.0,Athletics,Athletics Men's 100 metres,NaN,Trinidad,0
2176,M,24.0,180.0,72.0,1996.0,Athletics,Athletics Men's 100 metres,NaN,Benin,0
2251,M,32.0,168.0,62.0,1992.0,Athletics,Athletics Men's 100 metres,NaN,Panama,0
2371,M,24.0,196.0,72.0,1964.0,Athletics,Athletics Men's 100 metres,NaN,Ghana,0
2374,M,28.0,196.0,72.0,1968.0,Athletics,Athletics Men's 100 metres,NaN,Ghana,0
...,...,...,...,...,...,...,...,...,...,...
160229,M,26.0,175.0,70.0,1992.0,Athletics,Athletics Men's 100 metres,Bronze,USA,1
160231,M,30.0,175.0,70.0,1996.0,Athletics,Athletics Men's 100 metres,NaN,USA,0
160916,M,26.0,160.0,70.0,1996.0,Athletics,Athletics Men's 100 metres,NaN,Gabon,0
160925,M,23.0,186.0,78.0,1960.0,Athletics,Athletics Men's 100 metres,NaN,Fiji,0
161295,M,19.0,172.0,73.0,2016.0,Athletics,Athletics Men's 100 metres,NaN,Saudi Arabia,0
161450,M,23.0,165.0,65.0,1972.0,Athletics,Athletics Men's 100 metres,NaN,Philippines,0
162150,M,26.0,173.0,69.0,1968.0,Athletics,Athletics Men's 100 metres,NaN,Trinidad,0
162153,M,20.0,177.0,65.0,1968.0,Athletics,Athletics Men's 100 metres,NaN,Suriname,0
162154,M,19.0,169.0,64.0,1972.0,Athletics,Athletics Men's 100 metres,NaN,Suriname,0
162156,M,22.0,169.0,64.0,1976.0,Athletics,Athletics Men's 100 metres,NaN,Suriname,0
162354,M,20.0,184.0,83.0,1968.0,Athletics,Athletics Men's 100 metres,NaN,Cuba,0
162482,M,21.0,176.0,68.0,2012.0,Athletics,Athletics Men's 100 metres,NaN,Colombia,0
162697,M,27.0,170.0,62.0,1972.0,Athletics,Athletics Men's 100 metres,NaN,Lesotho,0
162871,M,20.0,180.0,67.0,1984.0,Athletics,Athletics Men's 100 metres,NaN,Puerto Rico,0
163164,M,24.0,172.0,76.0,2008.0,Athletics,Athletics Men's 100 metres,NaN,Brazil,0
163238,M,20.0,174.0,72.0,1988.0,Athletics,Athletics Men's 100 metres,NaN,Chile,0
163253,M,22.0,168.0,65.0,1964.0,Athletics,Athletics Men's 100 metres,NaN,Chile,0
163255,M,26.0,168.0,65.0,1968.0,Athletics,Athletics Men's 100 metres,NaN,Chile,0
163604,M,24.0,183.0,78.0,1988.0,Athletics,Athletics Men's 100 metres,NaN,France,0
163606,M,28.0,183.0,78.0,1992.0,Athletics,Athletics Men's 100 metres,NaN,France,0
163978,M,21.0,186.0,75.0,1956.0,Athletics,Athletics Men's 100 metres,Gold,USA,1
164068,M,29.0,171.0,65.0,1908.0,Athletics,Athletics Men's 100 metres,NaN,UK,0
164490,M,28.0,175.0,70.0,1904.0,Athletics,Athletics Men's 100 metres,NaN,USA,0
164492,M,30.0,175.0,70.0,1906.0,Athletics,Athletics Men's 100 metres,Silver,USA,1
164555,M,18.0,169.0,65.0,1912.0,Athletics,Athletics Men's 100 metres,NaN,France,0
164557,M,26.0,169.0,65.0,1920.0,Athletics,Athletics Men's 100 metres,NaN,France,0
164559,M,30.0,169.0,65.0,1924.0,Athletics,Athletics Men's 100 metres,NaN,France,0
165224,M,27.0,168.0,68.0,1972.0,Athletics,Athletics Men's 100 metres,NaN,Zambia,0
165373,M,18.0,167.0,65.0,2004.0,Athletics,Athletics Men's 100 metres,NaN,Tonga,0
165395,M,24.0,172.0,69.0,1960.0,Athletics,Athletics Men's 100 metres,NaN,Switzerland,0