In [24]:
import pandas as pd
import numpy as np

In [25]:
udaje_atleti = pd.read_csv('athlete_events.csv')
regiony = pd.read_csv('noc_regions.csv')

In [26]:
data = pd.merge(udaje_atleti, regiony, on='NOC', how='left')

In [27]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992.0,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012.0,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920.0,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900.0,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988.0,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

Potrebujeme vymazat riadky s hodnotami null v stlpcoch "age", "height", "weight".

In [28]:
data = data.dropna(axis=0, subset=['Age', 'Height', 'Weight', 'Year'])

Rovnako vymazeme stlpec notes, ktory je nepotrebny.

In [29]:
data = data.drop(['notes'], axis=1)

In [30]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992.0,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012.0,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988.0,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988.0,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992.0,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands

Este si pre istotu mozeme skontrolovat ci uz sa v nasom datasete nenachadzaju ziadne hodnoty null v stlpcoch "age", "height", "weight", "region".

In [31]:
pd.isnull(data).sum()

ID             0
Name           0
Sex            0
Age            0
Height         0
Weight         0
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     107464
region       138
dtype: int64

Vytvorime stlpec "haveMedal" kde zapiseme, ci sportovec ziskal alebo neziskal nejaku medailu

In [32]:
data['haveMedal'] = np.where(data['Medal'].isnull(), 0, 1)

In [33]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,haveMedal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992.0,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012.0,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,0
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988.0,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,0
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988.0,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,0
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992.0,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,0

In [34]:
X = data.iloc[:,np.r_[3:6,9]]
y = data.iloc[:,16]

In [36]:
from keras.models import Sequential
from keras.layers import Dense

In [53]:
model = Sequential()
model.add(Dense(12, input_dim=4, activation='relu'))
model.add(Dense(6, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [54]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [55]:
model.fit(X, y, epochs=5, batch_size=1000)
scores=model.evaluate(X,y)

Epoch 1/5
125495/125495 [==============================] - 2s 17us/step - loss: 11.2760 - accuracy: 0.8067
Epoch 2/5
125495/125495 [==============================] - 1s 10us/step - loss: 0.6498 - accuracy: 0.8017
Epoch 3/5
125495/125495 [==============================] - 1s 10us/step - loss: 0.5133 - accuracy: 0.8238
Epoch 4/5
125495/125495 [==============================] - 1s 8us/step - loss: 0.4419 - accuracy: 0.8496
Epoch 5/5
125495/125495 [==============================] - 1s 9us/step - loss: 0.4281 - accuracy: 0.8552
125495/125495 [==============================] - 12s 94us/step

In [56]:
print("\nPresnost siete: %.2f%%"%(scores[1]*100))

Presnost siete: 85.60%